:root {
  --color1: #ff4800;
  --color2: #023e7d;
  --color3: #007f5f;
  --color4: #bf0603;
  --color5: #DE9502;
  --color6: #4B3B40;
  --color7: #540804;
  --color8: #324376;
  --color9: #1E441E;
  --color10: #5E314D;
  --color11: #972054;
  --color12: #754043;
  --color13: #37423D;
  --color14: #3A4955;
  --color15: #323871;

  --primary-color: #e6f4f1;
  --secondary-color: #333;
}
  [data-theme="dark"] {
    --color1: #00B7FF;
    --color2: #f75f00;
    --color3: #ff2f00;
    --color4: #05f211;
    --color5: #5703ff;
    --color6: #dcffc8;
    --color7: #0dff39;
    --color8: #ffa968;
    --color9: #ff706e;
    --color10: #d4ff85;
    --color11: #91ff37;
    --color12: #94ff8c;
    --color13: #ffd6d1;
    --color14: #ffc9aa;
    --color15: #ffb16d;
  
    --primary-color: #333;
    --secondary-color: #e6f4f1;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--primary-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  font-family: 'Balsamiq Sans', cursive;
  
}

/* switch  */
/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: absolute;
  right: 25px;
  top: 15px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--secondary-color);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 30px;
  margin-right: 5px;
  color: var(--secondary-color)
}

/* weather app container */
.social-media {
  position: relative;
  top: 0;
  left: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  margin-top: 4rem;
  border-radius: 30px;
  padding: 1rem;
  box-shadow: 0 31.6px 72.8px -41px rgba(0, 0, 0, 0.035),
    0 59.1px 116.1px -41px rgba(0, 0, 0, 0.071),
    0 82px 145.5px -41px rgba(0, 0, 0, 0.112),
    0 100.9px 173.9px -41px rgba(0, 0, 0, 0.169),
    0 122.2px 213.8px -41px rgba(0, 0, 0, 0.266),
    0 221px 280px -41px rgba(0, 0, 0, 0.56);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

input{
    width: 80%;
    padding: 10px 15px;
    margin: 1rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid var(--secondary-color);
}
.city {
    text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.4);


}
.date{
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Lucida Sans';
}
.current{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temp{
    font-size: 4rem;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    font-weight: 700;
  
}
.weather {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  text-shadow: 1px 3px 5px rgba(0,0,0,0.4);
  font-family: 'Lucida Sans';
 
}
.hi-low{
 margin: 0.2rem;
 font-family: 'Lucida Sans';
}


.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    
}
.social-media{
  margin-left: 1rem;
}
.icon {
  font-size: 1.5rem;
  transition: all 0.4s;
  color: var(--secondary-color);
  
}
.icon:hover {
  transform: scale(1.2);
  color: var(--colo1);
}

@media screen and (max-width: 700px) {
    .container {
      width: 80%;
    }
    iframe {
      width: 400px;
    }
  }
  
  @media screen and (max-width: 500px) {

    iframe {
      width: 300px;
    }
  }
  @media screen and (max-width: 350px) {

    iframe {
      width: 250px;
    }
  }
